.BattleArena {
  .user-stat-container {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    max-width: 380px;
    margin: auto;

    .user-item {
      max-width: 174px;
      min-width: 174px;
      width: 174px;
      position: relative;

      .item-wrap {
        position: absolute;
        top: 0;
        left: 0;
        max-width: 174px;
        min-width: 174px;
        width: 174px;

        .img-wrap {
          border: 1px solid #19A0ED;
          border-radius: 100%;
          height: 40px;
          width: 40px;
          background: black;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .user-name {
          position: absolute;
          top: 9px;
          left: 70px;

          h2 {
            color: rgba(255, 255, 255, 0.80);
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 100px;
          }
        }

        .user-lvl {
          position: absolute;
          top: 38px;
          left: 86px;

          h3 {
            color: rgba(255, 255, 255, 0.50);
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          }
        }

        .hp-info {
          position: absolute;
          top: 51px;
          left: 6.3px;

          p {
            color: rgba(255, 255, 255, 0.80);
            font-size: 10px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          }

          .progress-wrap {
            width: 161px;
            margin-top: 10px;

            .progress-item {
              border-radius: 35px;
              height: 6px;
              background: linear-gradient(90deg, #F68436 0%, #EA1212 100%);
            }
          }
        }
      }
    }
  }

  .BattleCardPlay {
    .card-col {
      flex: 1;
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 5.5px;
      max-width: 147px;

      .top-card-row {
        padding: 0 10px;
        gap: 8px;
        display: flex;
        flex-flow: row-reverse;

        .top-card-img {
          transition: all 0.3s 0s ease-out;

          &.step {
            opacity: 0;
            transform: scale(1.3);
          }
        }
      }

      .main-card {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        .card-border {
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          border-radius: 12px;

          &.last_log {
            opacity: 0 !important;
          }

          &.punch {
            border: 3px solid #FA475A;
            box-shadow: 0px 0px 13.068px 0px #E9273C;
          }

          &.burn {
            border: 3px solid #FF7843;
            box-shadow: 0px 0px 13.068px 0px #FC9C5A;
          }

          &.kick {
            border: 3px solid #936DEE;
            box-shadow: 0px 0px 13.068px 0px #6E3BEB;
          }

          &.freeze {
            border: 3px solid #AAE9E1;
            box-shadow: 0px 0px 13.068px 0px #7CE5D8;
          }

          &.poison {
            border: 3px solid #D7F981;
            box-shadow: 0px 0px 13.068px 0px #B1F700;
          }

          .inner-item {
            isolation: isolate;
            position: relative;
            width: 100%;
            height: 100%;
            padding: 17px;
            border-radius: 9px;
            background: #0C0C0B;
            pointer-events: none;

            &.punch {
              border: 1px solid #E9273B;
            }

            &.burn {
              border: 1px solid #FF520E;
            }

            &.kick {
              border: 1px solid #6E3BEB;
            }

            &.freeze {
              border: 1px solid #7CE5D8;
            }

            &.poison {
              border: 1px solid #B1F700;
            }

            .card_img {
              position: relative;
              z-index: -1;
              isolation: isolate;
              display: flex;
              justify-content: center;
              align-items: center;

              &::after {
                position: absolute;
                z-index: -1;
                content: "";
                width: 67.954px;
                height: 77.537px;
                filter: blur(24.08888816833496px);
              }

              &.punch {
                &::after {
                  background: #E9273B;
                }
              }

              &.burn {
                &::after {
                  background: #FF520E;
                }
              }

              &.kick {
                &::after {
                  background: #6E3BEB;
                }
              }

              &.freeze {
                &::after {
                  background: #7CE5D8;
                }
              }

              &.poison {
                &::after {
                  background: #B1F700;
                }
              }
            }

            .card-move {
              position: relative;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 3.485px;
              height: 32px;
              background: #21211E;

              .notch {
                position: absolute;
                bottom: -6px;
                width: 71px;
                display: flex;
                justify-content: center;
                align-items: center;

                .card-diamond {
                  position: absolute;
                }
              }

              h4 {
                font-size: 12px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                letter-spacing: 0.36px;
              }

              &.punch {
                border-top: 0.871px solid #E9273A;

                h4 {
                  color: #E8273B;
                }

                .notch {
                  .card-diamond {
                    svg {
                      path {
                        fill: #E9273C;
                      }
                    }
                  }
                }
              }

              &.burn {
                border-top: 0.871px solid #FF520E;

                h4 {
                  color: #FF520E;
                }

                .notch {
                  .card-diamond {
                    svg {
                      path {
                        fill: #FF520E;
                      }
                    }
                  }
                }
              }

              &.kick {
                border-top: 0.871px solid #6E3BEB;

                h4 {
                  color: #6E3BEB;
                }

                .notch {
                  .card-diamond {
                    svg {
                      path {
                        fill: #6E3BEB;
                      }
                    }
                  }
                }
              }

              &.freeze {
                border-top: 0.871px solid #7CE5D8;

                h4 {
                  color: #7CE5D8;
                }

                .notch {
                  .card-diamond {
                    svg {
                      path {
                        fill: #7CE5D8;
                      }
                    }
                  }
                }
              }

              &.poison {
                border-top: 0.871px solid #B1F700;

                h4 {
                  color: #B1F700;
                }

                .notch {
                  .card-diamond {
                    svg {
                      path {
                        fill: #B1F700;
                      }
                    }
                  }
                }
              }
            }

            .damage-wrap {
              margin-top: 25px;
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 7px;

              h5 {
                color: rgba(255, 255, 255, 0.50);
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 0.36px;
              }

              &.punch {
                svg {
                  path {
                    fill: #E9273B;
                  }
                }
              }

              &.burn {
                svg {
                  path {
                    fill: #FF520E;
                  }
                }
              }

              &.kick {
                svg {
                  path {
                    fill: #6E3BEB;
                  }
                }
              }

              &.freeze {
                svg {
                  path {
                    fill: #7CE5D8;
                  }
                }
              }

              &.poison {
                svg {
                  path {
                    fill: #B1F700;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .BattleLog {
    .log-container {
      .battleLog-wrap {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .battleLog-item {
          padding: 8px 16px;
          border-radius: 8px;
          color: white;
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 20px;

          &.punch {
            background: linear-gradient(90deg, rgba(0, 0, 0, 0.00) 0%, #000 19.94%, #000 50%, rgba(233, 39, 59, 0.40) 87.83%, rgba(255, 0, 26, 0.00) 100%);
          }

          &.burn {
            background: linear-gradient(90deg, rgba(0, 0, 0, 0.00) 0%, #000 19.94%, #000 49.5%, rgba(255, 82, 14, 0.40) 87.83%, rgba(255, 82, 14, 0.00) 100%);
          }

          &.kick {
            background: linear-gradient(90deg, rgba(0, 0, 0, 0.00) 0%, #000 19.94%, #000 50%, rgba(100, 41, 243, 0.40) 87.83%, rgba(110, 59, 235, 0.00) 100%);
          }

          &.freeze {
            background: linear-gradient(90deg, rgba(0, 0, 0, 0.00) 0%, #000 19.94%, #000 49.5%, rgba(48, 247, 222, 0.62) 87.83%, rgba(124, 229, 216, 0.00) 100%);
          }

          &.poison {
            background: linear-gradient(90deg, rgba(0, 0, 0, 0.00) 0%, #000 19.94%, #000 49.5%, rgba(183, 255, 0, 0.54) 87.83%, rgba(177, 247, 0, 0.00) 100%);
          }

          .left-wrap {
            display: flex;
            align-items: center;
            gap: 16px;
            flex: 1;
            flex-wrap: wrap;

            h2 {
              color: rgba(255, 255, 255, 0.70);
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              letter-spacing: 0.42px;
              min-width: 35%;
            }

            :nth-child(3) {
              text-align: center;
            }
          }

          &:nth-child(odd) {
            .left-wrap {
              h2 {
                &:nth-child(1) {
                  color: #FFF;
                  font-weight: 600;
                }
              }
            }
          }

          &:nth-child(even) {
            .left-wrap {
              h2 {
                &:nth-child(3) {
                  color: #FFF;
                  font-weight: 600;
                }
              }
            }
          }

          .right-wrap {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 4px;

            h3 {
              color: #FFF;
              font-size: 16px;
              font-style: italic;
              font-weight: 400;
              letter-spacing: 0.48px;
            }

            svg {
              &.punch {
                path {
                  fill: #E9273B;
                }
              }

              &.burn {
                path {
                  fill: #FF520E;
                }
              }

              &.kick {
                path {
                  fill: #6E3BEB;
                }
              }

              &.freeze {
                path {
                  fill: #7CE5D8;
                }
              }

              &.poison {
                path {
                  fill: #B1F700;
                }
              }
            }
          }
        }
      }
    }
  }

  .game-end {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.60);
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

    h2 {
      color: #FFF;
      text-align: center;
      font-size: 28px;
      font-style: normal;
      font-weight: 800;
      line-height: 22px;
      letter-spacing: 0.84px;
      margin-top: 36px;
    }

    p {
      color: rgba(255, 255, 255, 0.80);
      text-align: center;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 22px;
      margin-top: 8px;
      max-width: 227px;

      span {
        color: #FF7843;
      }
    }

    .btn {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      border: 2px solid #FF7843;
      height: 34px;
      padding: 0px 50px;
      margin-top: 36px;

      p {
        color: #FF7843;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 0.42px;
        margin: 0;
      }
    }
  }
}

.test {
  outline: 2.2px solid #ff375f;
}